body{
  font-family: 'Merriweather', serif;
  background-color: #f3f3f3;
}

h1, h2, h3, h4, h5, h6, nav{
  font-family: 'Lato', sans-serif;
}

a{
  text-decoration: none;
  color: #cccccc;
}

nav{
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #777777;
}

nav, li{
  list-style-type: none;
  float: left;
  padding-left: 1em;
  padding-top: .25em;
  text-transform: uppercase;
  font-size: .975em;
  letter-spacing: .075em;
  font-weight: 700;
  color: #cccccc;
}

.menu {
  float: right;
  margin-right: 3em;
}

.logo {
  float: left;
  margin-left: 3em;
  padding: .75em 0em;
}

button.logout {
  padding: 0;
  margin: 0;
  border: 0;
  height: 0;
  line-height: 0;
  font-size: .975em;
  letter-spacing: .05em;
  font-weight: 700;
  color: #cccccc;
}

header{
}

.hpheader{
  background-image: url(../images/header.jpg);
  height: 30em;
  background-size: cover;
  background-position: center;
}

.header-text{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 10em;
  clear:both;
}

.header-text input{
  color: black;
}

.text-inner{
  width: 60em;
  margin: 0 auto;
}

.text-inner h1{
  font-family: 'Merriweather', serif;
  font-weight: 100;
  font-size: 1.75em;
  letter-spacing: .025em;
}

.container{
  margin: 0 auto;
  width: 60em;
  clear: both;
  padding-top: 2em;
  margin-bottom: 20em;
}

.search{
  clear: both;
}

.thumbnail{
  margin-top: 3em;
}

.thumbnail img{
  float: left;
  width: 15em;
  height: 15em;
  object-fit: cover;
  padding: 1em;
  border-radius: 12.5em;
}

img.post-img{
  width: 100%;
}

.content{
  color: #337ab7;
}

footer{
  position: relative;
  bottom: -20em;
  left: 0;
  margin-bottom: -20em;
  padding: 1em;
  clear: both;
  background-color: #333333;
  width: 100%;
}

footer > p{
  color: #999999;
}

@media only screen and (max-width : 480px) {
  .container{
    width: 100%;
  }

  .text-inner{
    width: 100%;
  }

  .text-inner h1{
    margin: 1em;
  }

  footer{
    text-align: center;
  }
}
