body{
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
}


nav, li{
  list-style-type: none;
  float: left;
  padding-left: 1em;
}

.container{
  margin: 0 auto;
  width: 60em;
  clear: both;
  padding-top: 2em;
}

.search{
  clear: both;
}

.thumbnail img{
  float: left;
  width: 15em;
  height: 15em;
  object-fit: cover;
  padding-right: 2em;
}

img.post-img{
  width: 100%;
}
