<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <header class="hpheader">
    <div class="header-text">
      <%- include ../partials/nav %>

      <div class="">
        <h1>Some text goes here</h1>
      </div>

    </div>
  </header>
  <div class="container">
  <div>
    <% if (user) {%>
      <h3>Welcome <%= user.email %></h3>
      <% } %>
  </div>

  <div>
    <% include ../partials/posts %>
  </div>

  <%- include ../partials/footer %>
</body>
</html>
