<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>

<body>
  <header class="hpheader">
    <%- include ../partials/nav %>

    <div class="header-text">
      <div class="text-inner">
        <h1><em>Obsessed with Reality</em> is a project dedicated to <br />celebrating the women throughout history who have devoted <br />their lives to learning more about our world. </h1>

        <%- include ../partials/newsletters %>
      </div>
    </div>
  </header>

  <div class="container">

  <div>
    <% include ../partials/posts %>
  </div>

  <%- include ../partials/footer %>
</body>
</html>
