<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <header class="hpheader">
      <%- include ../partials/nav %>

      <div class="header-text">
      <div class="text-inner">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus sem nec pretium dapibus. Cras ullamcorper felis eget lectus elementum, nec scelerisque velit mattis. .</h1>
      </div>
    </div>
  </header>

  <div class="container">

  <div>
    <% include ../partials/posts %>
  </div>

  <%- include ../partials/footer %>
</body>
</html>
