<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <%- include ../partials/nav %>


  <div>
    <% if (user) {%>
      <h3>Welcome <%= user.email %></h3>
      <% } %>
  </div>

  <div>

  </div>

  <%- include ../partials/footer %>
</body>
</html>
