<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Obsessed with Reality</title>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,700italic,400italic,300italic|Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'></head>
  <link href=""
<body>
  <div>
    <a href="/users/new">Signup</a>
  </div>
  <div>
    <a href="/users/login">Login!</a>
  </div>
  <div>
    <form method="post" action="users/logout?_method=DELETE">
      <button>logout</button>
    </form>
  </div>
  <div>
    <a href="/images">images</a>
  </div>

  <% if (user) {%>
    <h3>Welcome <%= user.email %></h3>
  <% } %>
</body>
</html>
