<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <%- include ../partials/nav %>


<div>
<h1>You shall not pass!</h1>
</div>

<%- include ../partials/footer %>  
</body>
</html>
