<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <header>
    <%- include ../partials/nav %>
  </header>
  <div class="container">

<h1>Success!</h1>

<%- include ../partials/footer %>
</body>
</html>
