<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <%- include ../partials/nav %>

  <h1>All the Post</h1>

    <%- include ../partials/posts %>

    <%- include ../partials/footer %>
</body>
</html>
