<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sign up!</title>
</head>
<body>
  <h1>All the Post</h1>
  <% posts.forEach(function(el) { %>
      <div>
        <ul>
          <li><%= el.name %></li>
          <li><%= el.occupation %></li>
        </ul>
      </div>
    <% }) %>
</body>
</html>
