<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <header class="header-alt">
      <%- include ../partials/nav %>
      <div class="header-text">
        <div class="text-inner">
          <h1>You shall not pass!</h1>
          <p>Sorry, you don&rsquo;t have permission to view this page. <br />Reach out to your admin to access this page.</p>
        </div>
      </div>
  </header>

  <div class="container">


<%- include ../partials/footer %>
</body>
</html>
