<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <header>
    <%- include ../partials/nav %>
  </header>
  <div class="container">


<div>
<h1>You shall not pass!</h1>
</div>

<%- include ../partials/footer %>
</body>
</html>
